@tailwind base;
@layer base {
	:root {
		color-scheme: dark;
		--theme-bg: #1d1f21;
		--theme-link: #d480aa;
		--theme-text: #c9cacc;
		--theme-accent: #bf616a;
		--theme-accent-2: #eee;
		--theme-quote: #a3be8c;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #1d1f21;
		--theme-link: #d480aa;
		--theme-text: #c9cacc;
		--theme-accent: #bf616a;
		--theme-accent-2: #eee;
		--theme-quote: #a3be8c;
		--theme-menu-bg: rgb(29 31 33 / 0.85);
	}

	html {
		@apply min-h-screen scroll-smooth border-t-2 border-textColor bg-bgColor;
        background-color: var(--theme-bg);
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-6xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
        background-color: var(--theme-bg);
	}
}
@tailwind components;
@tailwind utilities;
