---
import PageLayout from "@/layouts/Base";
import Photos from "@/components/Photos";

const meta = {
	title: "Photography",
	description: "Photography portfolio",
};

---

<PageLayout meta={meta}>
    <h1 class="title mb-6">Photography</h1>
    <p>
        Just a collection of some photos I've taken, mostly on my Nikon F3 :)
    </p>
    <Photos />
</PageLayout>
